extends ../layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') RedBici
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/bicicletas') Ir a listado
    .container
    br
    br
    h3 Vizualizando Bicicleta
    br 
    br

    form
    .form-row
        .form-group.col-md-3
            label(for='id') ID:
            input#id.form-control(type='text' name='id' value= bicicleta.id disabled='')
        .form-group.col-md-5
            label(for='color') Color
            input#color.form-control(type='text' name='color' value= bicicleta.color disabled='')  
        .form-group.col-md-4
            label(for='modelo') Modelo
            input#modelo.form-control(type='text' name='modelo' value= bicicleta.modelo disabled='')  
    .form-row
        .form-group.col-md-6
            label(for='lat') Latitud
            input#lat.form-control(type='text' name='lat' value= bicicleta.ubicacion[0] disabled='')
        .form-group.col-md-6
            label(for='lng') Longitud
            input#lng.form-control(type='text' name='lng' value= bicicleta.ubicacion[1] disabled='')