extends ../layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') RedBici
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/bicicletas') Ir a listado
    .container
    br
    br
    h3 Actualizando Bicicleta
    br 
    br
    form(action=`/bicicletas/${bicicleta.id}/update` method='post')
        .form-row
            .form-group.col-md-3
                label(for='id') ID:
                input#id.form-control(type='text' name='id' value= bicicleta.id required='' disabled='')
            .form-group.col-md-5
                label(for='color') Color
                input#color.form-control(type='text' name='color' value= bicicleta.color required='')  
            .form-group.col-md-4
                label(for='modelo') Modelo
                //- select#modelo.form-control(name='modelo')
                //-     option Urbana
                //-     option Ruta
                input#modelo.form-control(type='text' name='modelo' value= bicicleta.modelo required='')  
        .form-row
            .form-group.col-md-6
                label(for='lat') Latitud
                input#lat.form-control(type='lat' name='lat' value= bicicleta.ubicacion[0] required='')
            .form-group.col-md-6
                label(for='lng') Longitud
                input#lng.form-control(type='lng' name='lng' value= bicicleta.ubicacion[1] required='')
        input.btn.btn-outline-primary(type='submit' value='Actualizar')
